<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head">
</head>

<body>

<div th:replace="fragments/header :: navbar"></div>

<div class="container">
    <div class="row">
        <th:block th:replace="admin/fragments/userForm :: userForm(action='/admin/users/edit', edit=true)"></th:block>
        <div class="col-md-8">
            <button class="btn btn-primary" type="button"
                    data-toggle="collapse" data-target="#orders"
                    aria-expanded="false" aria-controls="orders">
                Show Orders
            </button>
            <div class="collapse" id="orders">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Date</th>
                        <th>Price</th>
                        <th>Status</th>
                        <th colspan="2">Order</th>
                        <th></th>
                    </tr>
                    <tr th:if="${#lists.isEmpty(orders)}">
                        <td colspan="6">There are no orders</td>
                    </tr>
                    </thead>
                    <tbody th:each="o : ${orders}">
                    <tr>
                        <td>[[${o.orderId}]]</td>
                        <td>[[${o.orderDate}]]</td>
                        <td>[[${o.orderPrice}]]$</td>
                        <td th:if="${o.orderStatus}"><i class="fa fa-check" aria-hidden="true"></i></td>
                        <td th:if="${!o.orderStatus}"><i class="fa fa-clock-o" aria-hidden="true"></i></td>
                        <th>Product</th>
                        <th>Quantity</th>
                        <td>
                            <a th:unless="${o.orderStatus}" class="btn btn-warning"
                               th:href="@{'/admin/users/edit/{userId}/completeOrder/{orderId}'(orderId=${o.orderId}, userId=${user.userId})}">
                                Complete
                            </a>
                            <a class="btn btn-danger" th:href="@{'/admin/users/edit/{userId}/deleteOrder/{orderId}'(orderId=${o.orderId}, userId=${user.userId})}">
                                Delete
                            </a>
                        </td>
                    </tr>
                    <tr th:each="orderBook : ${o.books}">
                        <td colspan="4"></td>

                        <td><a th:href="@{'/admin/books/view/{bookId}'(bookId=${orderBook.book.bookId})}">[[${orderBook.book.bookTitle}]]</a></td>
                        <td>[[${orderBook.quantity}]]</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>